@using System.Data
@model DataTable
<style>
    /*.ui.selection.dropdown {
        padding: 0;
    }*/
    #modalLoadCourses {
        height: 80vh;
    }
</style>
<h3 style="color: #41B9E6; text-align: center;">
    IZAJE DE CARGAS | EQUIPOS DE IZAJE | EDITAR FACTORES
</h3>

@using (Ajax.BeginForm("ProcessEditFactorIzage", "FactoresIzaje", FormMethod.Post, new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "return onBeginProcessEditFactor()",
    OnSuccess = "onSuccessProcessEditFactor(data)",
    OnFailure = "onFailureProcessEditFactor()",
}, new { @id = "formProcessEditFactor", @enctype = "multipart/form-data" }))
{
    <div class="ui equal width form">
        <div class="field">
            <input type="hidden" name="ID" value="@Model.Rows[0]["Id"].ToString()" />
        </div>
        <div class="fields">
            <div class="field">
                <label>Categoría</label>
                @Html.DropDownList("cbxCategoria", (SelectList)ViewBag.GetCategoriaDictionary, "[-Seleccione una opción-]", new { @class = "ui search dropdown" })

            </div>
            <div class="field">
                <label>Factor</label>
                <input type="text" id="txbFactor" name="txbFactor" value="@Model.Rows[0]["Nombre"].ToString()" placeholder="Digite Factor" autocomplete="off" maxlength="50">
            </div>
            <div class="field">
                <label>Estado</label>
                <select id="cbxEstado" name="cbxEstado" class="ui search dropdown">
                    <option value="">[-Seleccione una opción-]</option>
                    <option value="1" @Model.Rows[0]["Activo"].ToString()>Activo</option>
                    <option value="0" @Model.Rows[0]["Inactivo"].ToString()>Inactivo</option>
                </select>
            </div>
        </div>
        <button class="ui primary button" id="btnGuardarFactor">
            Guardar
        </button>
        <div class="ui floating warning message" style="width:50%;margin-left:25%;margin-right:25%;text-align:center" id="messageEditFactor">
            <div class="header">
                Atención
            </div>
            <p id="textmessageEditFactor"></p>
        </div>
    </div>
}
<br />

<script>
    //Funciones editar factor
    $('#messageEditFactor').hide();

    $('#formProcessEditFactor').form({
        fields: {
            cbxHeadquarter: {
                identifier: 'cbxHeadquarter',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Debe elegir un valor'
                    },
                ]
            },
        }, inline: true,
        on: 'blur'
    });
    $('#btnGuardarFactor').on('click', function () {
        $('#formProcessEditFactor').submit();
    });

</script>
