@using System.Data
@model DataTable
@{
    System.Data.DataTable dt = Model;
}

@using (Ajax.BeginForm("SearchCategoriasIzaje", "FactoresIzaje", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBeginProcessSearchCategorias()",
    OnSuccess = "onSuccessProcessSearchCategorias(data)",
    OnFailure = "onFailureProcessSearchCategorias()",
}, new { @id = "formProcessSearchCategorias" }))
{

        <div class="ui top attached block header" style="padding:50px">
            <div class="card-header">
                <div class="fields">
                    <div class="field">
                        <h3 style="color: #41B9E6; text-align: center;">
                            IZAJE DE CARGAS | EQUIPOS DE IZAJE | CATEGORÍAS
                        </h3>
                        <br />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="ui equal width form">
                    <div class="fields">
                        <div class="field">
                            <label>Categoría</label>
                            <input type="text" id="txbCategoria" name="txbCategoria" placeholder="Categoria" autocomplete="off" maxlength="50">
                        </div>
                        <div class="field">
                            <label>Tipo equipo</label>
                            @Html.DropDownList("cbxTipoEquipo", (SelectList)ViewBag.GetTipoEquipoDictionary, "[-Seleccione una opción-]", new { @class = "ui search dropdown" })

                        </div>
                        <div class="field" style="width:20%">
                            <br />
                            <button class="ui primary button">
                                Buscar
                            </button>
                        </div>
                    </div>
                    <div class="fields">

                    </div>
                    <div class="fields" style="text-align:right !important">

                    </div>
                </div>
                <div id="renderSearchCategoriasIzage">

                    <table class="ui selectable celled table ui center aligned tablesInitial" id="tablesIndexEquipment">
                        <thead>
                            <tr>
                                @foreach (System.Data.DataColumn col in Model.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {

                                        <th>@row[col.ColumnName]</th>
                                    }
                                    <td>
                                        <a href="javascript:void(0)" onclick="loadDetails('@row["Id"].ToString()')">Editar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
}

<div class="ui modal fullscreen" id="modalEditCategoria">
    <div class="content" id="loadEditCategoria">
    </div>
</div>

<script type="text/javascript">
    LoadTables();
    $('#tablesIndexEquipment').dynatable({
    }).bind('dynatable:afterProcess', processingComplete);
    processingComplete();

    function onBeginProcessSearchCategorias() {
        $('#renderPages').addClass("loading");
        $('#renderSearchCategoriasIzage').empty();
    }

    function onFailureProcessSearchCategorias() {
        $('#renderPages').removeClass("loading");
        $('#messageCreate').show('slow').addClass("warning").removeClass("info");
        $('#textmessageCreate').text("Ha ocurrido un error al procesar la solicitud");
    }

    function onSuccessProcessSearchCategorias(data) {
        $('#renderPages').removeClass("loading");
        $('#renderSearchCategoriasIzage').html(data);
    }

    function loadDetails(id) {
        $.ajax({
            url: '@Url.Action("EditCategoriaIzage")',
               data: { id: id},
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#loadEditCategoria').html(data);
                    $('#modalEditCategoria').modal('show');
                }
            }
        })
    }
</script>
