@using System.Data
@model DataSet
@{
    System.Data.DataTable dtFactor = Model.Tables[1];
}
<style>
    .ui.form .fields .field .ui.input input, .ui.form .field .ui.input input {
        display: none;
        width: auto;
    }

    div.dynatable-per-page {
        display: none;
    }

    div#dynatable-search-tablesIndexEquipment.dynatable-search.ui.input.spanSearch {
        display: none;
    }
</style>

@using (Ajax.BeginForm("SearchFactoresIzaje", "FactoresIzaje", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "onBeginProcessSearchFactores()",
    OnSuccess = "onSuccessProcessSearchFactores(data)",
    OnFailure = "onFailureProcessSearchFactores()",
}, new { @id = "formProcessSearchFactores" }))
{
    <div class="ui top attached block header" style="padding:50px">
        <div class="card-header">
            <h3 style="color: #41B9E6; text-align: center;">
                IZAJE DE CARGAS | EQUIPOS DE IZAJE | FACTORES
            </h3>
            <br />
        </div>
        <div class="ui equal width form">
            <div class="fields">
                <div class="field">
                    <label>Categoría</label>
                    @Html.DropDownList("cbxCategoria", (SelectList)ViewBag.GetCategoriaDictionary, "[-Seleccione una opción-]", new { @class = "ui search dropdown" })
                </div>
                <div class="field">
                    <label>Factor</label>
                    <input type="text" id="txbEquipo" name="txbEquipo" placeholder="Equipo" autocomplete="off" maxlength="50">
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>Estado</label>
                    <select id="cbxEstado" name="cbxEstado" class="ui search dropdown">
                        <option value="">[-Seleccione una opción-]</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <div class="field" style="width:14%">
                    <br>
                    <button class="ui primary button">
                        Buscar
                    </button>
                </div>
            </div>
        </div>
        <div id="renderSearchFactoresIzage">

            <table class="ui selectable celled table ui center aligned tablesInitial" id="tablesIndexEquipment">
                <thead>
                    <tr>
                        @foreach (System.Data.DataColumn col in dtFactor.Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in dtFactor.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in dtFactor.Columns)
                            {

                                <th>@row[col.ColumnName]</th>
                            }
                            <td>
                                <a href="javascript:void(0)" onclick="loadDetailsFactor('@row["#"].ToString()')">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="ui modal fullscreen" id="modalEditFactor">
    <div class="content" id="loadEditFactor">
    </div>
</div>

<script>
    LoadTables();
        //Funciones de factores
    $('#tablesIndexEquipment').dynatable({
    }).bind('dynatable:afterProcess', processingComplete);
    processingComplete();

    function onBeginProcessSearchFactores() {
        $('#renderPages').addClass("loading");
        $('#renderSearchFactoresIzage').empty();
    }
    function onFailureProcessSearchFactores() {
        $('#renderPages').removeClass("loading");
        $('#messageCreate').show('slow').addClass("warning").removeClass("info");
        $('#textmessageCreate').text("Ha ocurrido un error al procesar la solicitud");
    }

    function onSuccessProcessSearchFactores(data) {
        $('#renderPages').removeClass("loading");
        $('#renderSearchFactoresIzage').html(data);
    }
    function loadDetailsFactor(id) {
        console.log(id);
        $.ajax({
            url: '@Url.Action("EditFactorIzage")',
               data: { id: id},
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#loadEditFactor').html(data);
                    $('#modalEditFactor').modal('show');
                }
            }
        })
    }
</script>