<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Grupo Enel - Programa de protección contra caídas</title>
    @Styles.Render("~/Content/SemanticUi/semantic.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome-4.7.0/css/font-awesome.css")

    <style>
        body {
            background-image: url('@Url.Content("~/Content/Images/robotica-dighe_1200x630.jpeg")');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <br />

    <img class="ui centered image" src="@Url.Content("~/Content/Images/Logo.png")" style="border-radius: 0px 0px 20px 20px;width:18%">
    <div class="ui very text container segment" id="segmentLogin"  style="background: transparent; margin-top: 6%; padding: 0 0; border: none;">
        <div>
            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/bundles/jqueryJs")
    @Scripts.Render("~/bundles/semanticJs")
    @Scripts.Render("~/Content/LoadingOverlay/src/loadingoverlay.min.js")
    @Scripts.Render("~/bundles/jqueryUnobstriveJs")
    @RenderSection("scripts", required: false)
</body>
</html>