<div class="field" style="width: 27% !important;">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0 tag tag-blue">
                    <button class="btn btn-link btn-block text-left btn-bdy" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Attrezzatura di sollevamento
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body card-bdy">
                    <ul class="sub-menu">
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexEquipmentIzage", "Izage")')">Attrezzatura di sollevamento - Pagina di elenco</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateEquipmentIzage", "Izage")')">Attrezzatura di sollevamento - Creare nuovo</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexInspectionIzaje", "InspectionIzaje")')">Ispezione - Pagina di elenco</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateInspectionIzaje", "InspectionIzaje",new { @id=0})')">Ispezione - Creare nuovo</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexFactoresIzaje", "FactoresIzaje")')">Catalogo dei fattori - Pagina di elenco</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateFactoresIzaje", "FactoresIzaje")')">Crea fattori - Creare nuovo</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Index", "CronogramaIzaje")')">Programma di ispezione</a></li>
                        <li class="menu-item"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Index", "FindingIzaje")')">Gestione dei risultati - Pagina di elenco</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0 tag tag-blue">
                    <button class="btn btn-link btn-block text-left collapsed  btn-bdy" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Formazione del personale
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body card-bdy">
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="#" class="menu__link" onclick="loadDummyData('@Url.Action("Index", "Personas")')">Formazione del personale - Pagina di elenco</a></li>
                        <li class="menu-item"><a href="#" class="menu__link" onclick="loadDummyData('@Url.Action("CreatePerson", "Personas")')">Formazione del personale - Creare nuovo</a></li>
                        <li class="menu-item"><a href="#" class="menu__link" onclick="loadDummyData('@Url.Action("Index", "CronogramaPersonasIzaje")')">Programma di allenamento</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading6">
                <h2 class="mb-0 tag tag-blue">
                    <button class="btn btn-link btn-block text-left collapsed btn-bdy" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Indicatori
                    </button>
                </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                <div class="card-body card-bdy">
                    <ul data-menu="submenu-5-1" class="menu__level">
                        <li class="menu__item">
                            <a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Index", "Indicadores")')">Indicatori</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
