@using WebApplication1.Models;
@{
    var session = Session["SessionUser"] as SessionModels;
}
<link href="~/Content/styles/cardscss.css" rel="stylesheet" />
<div class="main" id="facade">
    <div class="container" style="margin-left: 8%; max-width:1440px;">
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/pprotecc2_trabajo.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a;margin-left: -13%;padding-top: 10px;">Programa altura</h5>
                        </div>
                        <div>

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("ProceduresReportsIndex", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Procedimientos</a></th>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("FormatsReportsIndex", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Formatos</a></th>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CertificatesReportsIndex", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Normatividad</a></th>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Features", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Cargar documentos</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/PPROTECC2_gestion de equipo.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a;margin-left: -13%;padding-top: 10px;">Gestión de equipos</h5>
                        </div>
                        <div class="ui equal width form">
                            <div class="fields">
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Stock", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Inventario</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("TechnicalInformation", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Fichas técnicas</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateTechInfo", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Cargar Fichas técnicas</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Curriculum", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Hojas de Vida</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("InspectionCert", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Certificados de Inspección</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexEquipment", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Página Inicial de Equipos</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateEquipment", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Crear Nuevo Equipo</a></th>
                                            </tr>
                                            @*<tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("DownloadResult", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Matriz de Equipos</a></th>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/PPROTECC 2 ok_indicadores de gestion.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a;margin-left: -13%;padding-top: 10px;">Indicadores de Gestión</h5>
                        </div>
                        <div class="ui equal width form">
                            <div class="fields">
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("PageInitial", "ManagmentIndicators")')" style="color: #aaaaaa !important;font-size: smaller;">Indicadores</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 8%; max-width:1440px;">
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/PPROTECC 2 ok_inspeccion y mantenimiento.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a; margin-left: -13%; padding-top: 10px; font-family: math;">Inspección y Mantenimiento</h5>
                        </div>

                        <div class="ui equal width form">
                            <div class="fields">
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("SchedulerInspections", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Cronograma Inspecciones</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateInspections", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Registros Inspecciones</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("TechnicalReportsIndex", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Informes técnicos (LV)-Página Inicial</a></th>                                                
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateTechnicalReports", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Informes técnicos (LV)-Crear Nuevo</a></th>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("ManagementOfFindings", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Gestión de Hallazgos</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("ManagementMaintenanceEquipment", "Inspections")')" style="color: #aaaaaa !important;font-size: smaller;">Verificar Gestión</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/PPROTECC 2 ok_formacion y competencias.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a;margin-left: -13%;padding-top: 10px;">Formación y competencia</h5>
                        </div>
                        <div class="ui equal width form">
                            <div class="fields">
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Trainning", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Listado/Rol/Aptitud</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Scheduler", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Cronograma Formación</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("Certificate", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Certificados</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexPerson", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Personas-Página Inicial</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreatePerson", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Personas-Crear Nuevo</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/PPROTECC 2 ok_indicadores de gestion.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a;margin-left: -13%;padding-top: 10px;">Módulo Médico </h5>
                        </div>
                        <div class="ui equal width form">
                            <div class="fields">
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateAptitudConcept", "MedicalConcepts")')" style="color: #aaaaaa !important;font-size: smaller;">Conceptos de Aptitud</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("PageInitial", "MedicalConcepts")')" style="color: #aaaaaa !important;font-size: smaller;">Listado de Aptitud</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="margin-left: 8%; max-width:1440px;">
        <div class="card float-right" style="width:53%">
            <div class="row" style="margin-top: -5% !important;">
                <div class="col-sm-5" style="padding-right: 0 !important;padding-left: 0 !important;">
                    <img class="d-block w-100" src="~/Content/Images/PPROTECC 2 ok_admin.png" alt="" style="height: 100%;border-radius: .28571429rem;z-index: -1;position: unset;" />
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <div style="background-color: #008c5a;height: 48px;text-align: center;border-radius: .28571429rem;width: 123%;margin-left: -5%;">
                            <h5 class="card-title" style="color: #55be5a; margin-left: -13%; padding-top: 10px; font-family: math;">Administración</h5>
                        </div>

                        <div class="ui equal width form">
                            <div class="fields">
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexUser", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Usuarios - Página Inicial</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateUser", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Usuarios - Crear Nuevo</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexRol", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Roles - Página Inicial</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateRol", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Roles - Crear Nuevo</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexInspector", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Inspectores - Página Inicial</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateInspector", "Trainning")')" style="color: #aaaaaa !important;font-size: smaller;">Inspectores - Crear Nuevo</a></th>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="field">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexSedeCategoria", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Categoria Sedes - Página Inicial</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateCategoriaSede", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Categoria Sedes - Crear Nuevo</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexPais", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Países - Página Inicial</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreatePais", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Países - Crear Nuevo</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("IndexSede", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Sedes - Página Inicial</a></th>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="padding: 0rem !important;"><a class="menu__link" href="#" onclick="loadDummyData('@Url.Action("CreateSede", "WorkingAtHeight")')" style="color: #aaaaaa !important;font-size: smaller;">Sedes - Crear Nuevo</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>



