@using System.Data
@model DataTable

<table class="ui selectable celled table ui center aligned tablesInitial" id="tablesIndexEquipment">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    if (col.ColumnName == "Estado")
                    {
                        switch (row[col.ColumnName].ToString())
                        {
                            case "Conforme operativo":
                                <th style="background-color:green; color:white;">@row[col.ColumnName]</th>
                                break;
                            case "No conforme operativo":
                                <th style="background-color:yellow; color:black;">@row[col.ColumnName]</th>
                                break;
                            case "No conforme no operativo":
                                <th style="background-color:red; color:white;">@row[col.ColumnName]</th>
                                break;
                            default:
                                <th>@row[col.ColumnName]</th>
                                break;
                        }
                    }
                    else
                    {
                        <th>@row[col.ColumnName]</th>
                    }
                }
                <td>
                    <a href="javascript:void(0)" onclick="cargarElement('@Url.Action("VisualizarDetalleInspeccion",new { @tagSerial=row["Serial"].ToString()})')">Visualizar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    //LoadTables();
    $('#tablesIndexEquipment').dynatable({
    }).bind('dynatable:afterProcess', processingComplete);
    processingComplete();
</script>