@using System.Data
@model DataTable
<style>
    .dynatable-per-page-select {
        padding: 0px !important;
    }
</style>
<a class="menu__link" href="#" onclick="regresar()" data-finish="true" style="font-size: larger;background-color: #55BE5A;color: white;">
    <i class="fa fa-home" aria-hidden="true"></i> Regresar
</a>
<table class="ui selectable celled table ui center aligned tablesInitial">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {

                    <td>
                        @if (col.ColumnName != "Sede" && col.ColumnName != "Nombre")
                        {
                            if (ViewBag.id1 == 1)
                            {
                                <a href="javascript:void(0)" onclick="loadDetails('@row["Sede"].ToString().Split('-')[0]','',1,0)">@row[col.ColumnName]</a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" onclick="loadDetails('@ViewBag.id','@col.ColumnName',2,'@row["Año"].ToString()')">@row[col.ColumnName]</a>
                            }

                        }
                        else if (col.ColumnName == "Sede" )
                            {
                                @row[col.ColumnName].ToString().Split('-')[1]
                        }
                        else
                        {
                            @row[col.ColumnName]
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Model.Rows.Count > 0)
{
    <button class="ui button" id="btnExport" onclick="location.href='@Url.Action("DownloadFile", "Download", new { fileName = "CronogramaFormacion", @id = ViewBag.id, @id1 = ViewBag.id1 ,@id2 = ViewBag.id2 })'">Exportar</button>
}
<div class="ui modal fullscreen" id="modalDetailsScheduler">
    <div class="header">Detalle Cronograma</div>
    <div class="content" id="loadDetailsScheduler">
    </div>
</div>
<script type="text/javascript">

    function regresar() {
        $('#renderSearchSchedulerDetails').html('');
        $('#renderSearchScheduler').html('')
    }

    LoadTables();
    function loadDetails(headQuarterId, month, type, year) {
       
               $.ajax({
            url: '@Url.Action("LoadDetailsScheduler")',
            data: { headQuarterId: headQuarterId, month: month, type: type, year: year },
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#renderSearchSchedulerDetails').html(data);
                    //$('#modalDetailsScheduler').modal('show');
                }
            }
        })
    }
</script>