@using System.Data
@model DataTable
<link href="~/Scripts/tables/jquery.dynatable.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/tables/jquery.dynatable.js"></script>
<style>
    .dynatable-per-page-select {
        padding: 0px !important;
    }
</style>
<br />
<div id="trainingA">
    <table class="ui selectable celled table ui center aligned tablesInitial" id="tableSearchTrainning">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in Model.Columns)
                {
                    if (col.ColumnName == "Color")
                    {
                        <th style="display:none">@col.ColumnName</th>
                    }
                    else
                    {
                        <th>@col.ColumnName</th>

                    }

                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        <td>
                            @if (col.ColumnName == "Nombre")
                            {
                                <a href="javascript:void(0)" onclick="loadDetailsUser('@row["id"].ToString()')">@row[col.ColumnName]</a>
                            }
                            else
                            {
                                @row[col.ColumnName]
                            }
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
    @if (Model.Rows.Count > 0)
    {
        <button class="ui button" id="btnExport" onclick="location.href='@Url.Action("DownloadFile", "Download", new { fileName = "ListadoRolAptitud", @id = ViewBag.id })'">Exportar</button>
    }
</div>
<div class="ui" id="modalDetailsUser">
    @*<div class="header">Detalle Usuario</div>*@
    <a class="menu__link" href="#" onclick="regresar()" data-finish="true" style="font-size: larger;background-color: #55BE5A;color: white;">
        <i class="fa fa-home" aria-hidden="true"></i> Regresar
    </a>
    <div class="content" id="loadDetailsUser" style="margin-top: -2%;">
    </div>
</div>
<script type="text/javascript">

    function regresar() {
        $('#modalDetailsUser').hide();
        $('#trainingA').show();
        $('#trainingA').focus();
    }

    var processingComplete = function () {
        $.each($('#tableSearchTrainning tr'), function (index, value) {
            var classElement = $(this).find('td:eq(8)').html();
            if (classElement) {
                classElement = classElement.toString().trim();
            classElement = classElement == "Vencido" ? "red" : classElement == "Por Vencer" ? "yellow" : classElement == "Vigente" ? "green" : "";
            $(this).find('td:eq(8)').addClass(classElement);
            }
        });
    }
    //LoadTables();
    $('#tableSearchTrainning').dynatable({
    }).bind('dynatable:afterProcess', processingComplete);
    processingComplete();

    function loadDetailsUser(userId) {
        $.ajax({
            url: '@Url.Action("LoadDetailsUser")',
            data: { userId: userId },
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('#loadDetailsUser').html(data);
                    $('#loadDetailsUser').focus();
                    $('#modalDetailsUser').show();
                    $('#trainingA').hide();
                }
            }
        })
    }
</script>