@using System.Data
@model DataTable
@using WebApplication1.Models
@{
    var session = Session["SessionUser"] as SessionModels;
    session.Estado = 1;
}

<style>
    .ui.selection.dropdown {
        padding: 0;
    }

    .circleR {
        height: 20px;
        width: 20px;
        background-color: salmon;
        border-radius: 50%;
    }

    .circleA {
        height: 20px;
        width: 20px;
        background-color: turquoise;
        border-radius: 50%;
    }

    .circleY {
        height: 20px;
        width: 20px;
        background-color: yellow;
        border-radius: 50%;
    }

    .circleG {
        height: 20px;
        width: 20px;
        background-color: green;
        border-radius: 50%;
    }

    .circleD {
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 50%;
    }
</style>
<center><h3 style="color:#41B9E6; ">PROGRAMA DE PROTECCIÓN CONTRA CAÍDAS | GESTIÓN DE EQUIPOS | INVENTARIO</h3></center>


<br />
<br />
<table class="ui selectable celled table ui center aligned">

    <thead>
        <tr>
            <th>Id</th>
            <th>Sede</th>
            <th>Total</th>
            <th colspan="2">Aceptados</th>
            <th colspan="2">Para Mantenimiento</th>
            <th colspan="3">Rechazos</th>
            @* <th>Dados de Baja</th>*@
            <th colspan="3">Estado inspección</th>
        </tr>
        <tr>
            <th colspan="3"></th>
            <th>Total Aceptados</th>
            <th>%</th>
            <th>Total para mantenimiento</th>
            <th>%</th>
            <th>Total Rechazados</th>
            <th>%</th>
            <th>Total Dados de Baja</th>
            <th>Vigentes <div class="circleG"></div></th>
            <th>Por Vencer <div class="circleY"></div></th>
            <th>Vencidos <div class="circleR"></div></th>
        </tr>
    </thead>



    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                if (col.ColumnName != "CodigoSucursal")
                {
                    if (col.ColumnName == "Sede")
                    {
                        <td><a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModalLong" onclick="getDetail('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')">@row[col.ColumnName]</a></td>
                    }
                    else if (col.ColumnName == "Total Aceptados")
                    {
                        <td> @row[col.ColumnName] <div class="circleA"></div></td>
                    }
                    else if (col.ColumnName == "Total Mantenimiento")
                    {
                        <td> <a href="javascript:void(0)" onclick="getDetailMant('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')">@row[col.ColumnName]</a> <div class="circleY"></div></td>
                    }
                    else if (col.ColumnName == "Total Rechazados")
                    {
                        <td> <a href="javascript:void(0)" onclick="getDetailRechazados('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')">@row[col.ColumnName]</a> <div class="circleR"></div></td>
                    }
                    else if (col.ColumnName == "Total Dados de Baja")
                    {
                        <td><a href="javascript:void(0)" onclick="getDetailDadosBaja('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')">@row[col.ColumnName]</a> <div class="circleD"></div></td>
                    }
                    else if (col.ColumnName == "Vigentes")
                    {
                        if (Convert.ToInt32(row[col.ColumnName]) != 0)
                        {
                            <td><a href="javascript:void(0)" onclick="getDetailVig('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')" style="font-size:larger; color:green; font-style:italic" data-toggle="tooltip" title='@row[col.ColumnName] Vigentes'>@row[col.ColumnName]</a><i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin-left:20%"></i> </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else if (col.ColumnName == "PorVencer")
                    {
                        if (Convert.ToInt32(row[col.ColumnName]) != 0)
                        {
                            <td><a href="javascript:void(0)" onclick="getDetailPor('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')" style="font-size:larger; color: greenyellow; font-style:italic" data-toggle="tooltip" title='@row[col.ColumnName] Próximas'>@row[col.ColumnName]</a><i class="fa fa-hand-lizard-o" aria-hidden="true" style="margin-left:20%"></i> </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else if (col.ColumnName == "Vencidos")
                    {
                        if (Convert.ToInt32(row[col.ColumnName]) != 0)
                        {
                            <td><a href="javascript:void(0)" onclick="getDetailVen('@row["CodigoSucursal"].ToString()','@row["Sede"].ToString()')" style="font-size:larger; color:red; font-style:italic" data-toggle="tooltip" title='@row[col.ColumnName] Pendientes'>@row[col.ColumnName]</a><i class="fa fa-thumbs-o-down" aria-hidden="true" style="margin-left:20%"></i> </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }

                    @*else if (col.ColumnName == "Vigencia")
                {
                    var classElement = @row[col.ColumnName].ToString().Split('-')[1];
                    classElement = classElement == "Rojo" ? "" : classElement == "Amarillo" ? "yellow" : classElement == "Verde" ? "green" : "";


                    var classEl1 = @row[col.ColumnName].ToString().Split('-')[1];
                    classEl1 = classEl1 == "Rojo" ? "font color='red'" : "font color='white'";


                    <td class="@classElement @classEl1">@row[col.ColumnName].ToString().Split('-')[0]</td>

                }*@
                    else
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                }

            }
        </tr>
        }
    </tbody>
</table>
<button class="ui button" id="btnExport" onclick="location.href='@Url.Action("DownloadFile","Download",new { fileName="Stock"})'">Exportar</button>
@*<div class="ui modal" id="modalInformationByHeadquarter" style="width:80% !important">
        <div class="header" id="headerModal"></div>
        <div class="scrolling content">
            <div id="renderSearchInformationByHeadquarter" style=" width: 95% !important;"></div>
        </div>
    </div>*@


<div class="modal fade" id="modalInformationByHeadquarter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerModal">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="renderSearchInformationByHeadquarter" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    function getDetail(id, sede) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarter", "WorkingAtHeight")',
                data: { headquarterId: id },
                type: 'POST',
                success: function (data) {
                    //$('#headerModal').html("Información sede: " + sede);
                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');
                    //$('#headerModal').html("Información sede: " + sede);
                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");


                    //$('#renderPages').focus();
                    //$('#facade').hide();
                }
            });
        }
    }


    function getDetailRechazados(id, sede) {
	 if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarterRechazos", "WorkingAtHeight")',
                data: { headquarterId: id },
                type: 'POST',
                success: function (data) {

                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');

                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario equipos rechazados - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");
                }
            });
        }
    }
    function getDetailDadosBaja(id, sede) {
	 if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarterDados", "WorkingAtHeight")',
                data: { headquarterId: id },
                type: 'POST',
                success: function (data) {

                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');
                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario equipos dados de baja - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");
                }
            });
        }
    }

    function getDetailMant(id, sede) {
      	 if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarterMant", "WorkingAtHeight")',
                data: { headquarterId: id },
                type: 'POST',
                success: function (data) {

                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');
                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario equipos para mantenimiento - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");
                }
            });
        }
    }

    function getDetailVig(id, sede) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarterByStateVig", "WorkingAtHeight")',
                data: { headquarterId: id},
                type: 'POST',
                success: function (data) {
                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');
                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario equipos vigentes - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");
                }
            });
        }
    }
    function getDetailVen(id, sede) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarterByStateVen", "WorkingAtHeight")',
                data: { headquarterId: id},
                type: 'POST',
                success: function (data) {
                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');
                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario equipos vencidos - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");
                }
            });
        }
    }
    function getDetailPor(id, sede) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action("StockByHeadquarterByStatePor", "WorkingAtHeight")',
                data: { headquarterId: id},
                type: 'POST',
                success: function (data) {
                    $('#renderPagesOculto').html($('#renderPages').html());
                    $('#renderPagesOculto').hide();
                    $('#renderPages').html('').addClass("loading");
                    $('#renderPages').html(data);
                    $('#Titulo').html("Inventario equipos por vencer - " + sede);
                    $('#renderPages').removeClass("loading").css("height", "inherit");
                    //$('#renderSearchInformationByHeadquarter').html(data);
                    //$('#modalInformationByHeadquarter').modal('show');
                }
            });
        }
    }



</script>