@using System.Data
@model DataTable

<table class="ui selectable celled table ui center aligned tablesInitial" id="tablesIndexEquipment">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                if (col.ColumnName != "Certificados")
                {
                    <th>@col.ColumnName</th>
                }
            }
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    if (col.ColumnName != "Certificados")
                    {
                        if (col.ColumnName == "Fecha Ult. Inspeccion")
                        {
                            <th>@DateTime.Parse(row[col.ColumnName].ToString()).ToString("d")</th>
                        }
                        else if (col.ColumnName == "Estado")
                        {
                            switch (row[col.ColumnName].ToString())
                            {
                                case "Vigente":
                                    <th style="background-color:green; color:white;">@row[col.ColumnName]</th>
                                    break;
                                case "Por vencer":
                                    <th style="background-color:yellow; color:black;">@row[col.ColumnName]</th>
                                    break;
                                case "Vencido":
                                    <th style="background-color:red; color:white;">@row[col.ColumnName]</th>
                                    break;
                                default:
                                    <th>@row[col.ColumnName]</th>
                                    break;
                            }
                        }
                        else
                        {
                            <th>@row[col.ColumnName]</th>
                        }
                    }
                }
                <td>
                    <a href="javascript:void(0)" onclick="cargarElement('@Url.Action("EditEquipmentIzage",new { @id=row["id"].ToString()})')">Editar</a>
                </td>
                <td>
                    <a onclick="viewDocument('@row["Certificados"]')">Ver HV</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="ui card cardTest" style="display:none">
    @*<div class="image icon">
           <i class="teal huge file pdf outline icon"></i>

        </div>*@
    <div class="content">
        Informe:  <a href="" id="pdfref" target="_blank">
            <i id="number"></i>
        </a>
        <div class="meta">
            <i id="datefile"></i>
        </div>
    </div>
</div>

<div class="content">
    <div class="renderImages ui cards" style="display:none"></div>
</div>

<script type="text/javascript">
    var $element = $('.cardTest');
    //LoadTables();
    $('#tablesIndexEquipment').dynatable({
    }).bind('dynatable:afterProcess', processingComplete);
    processingComplete();
    function viewDocument(path) {
        $('.renderImages').html('');
        $element.find($('#number').text(path));
        $element.find($('#pdfref').attr('href', path));
        //$element.find($('#type').text(type));
        $element.find($('#datefile').text("Certificado en PDF"));
        $('.renderImages').append('<div class="ui card cardTest"> ' + $element.html() + '</div>');

        $('.renderImages').show('slow');
    }
</script>